@import "helvetica_font/stylesheet.css";                        /* Importing font stylesheet*/

*{
    font-family: "Helvetica Now Display", sans-serif !important;
    font-size: medium;
    background-color: black;   
    padding: 0%;
    margin: 0%;
}


@media screen and (max-width: 751px) {
   .navbar p{
       font-size: 150%;
   } 


    .context_objective_div{
        /* display: flex; */
        width: 100vw;
        height: auto;
    }
    #context_objective_header{
        font-weight: bold;
        font-size: 4rem;
    }
    .oc_spacer{
        display: none;
    }
    .co_container{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .co_container p{
        text-align: justify;
        min-width: 80vw;
    }
    .co_container img{
        width: 14rem;
        height: auto;
        margin-top: 2rem;
    }

}



p{
    color: white;
}

/* NavBar */
.navbar{
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0%;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.navbar p{
    background: transparent;
    font-weight: 500;
    margin: 1.5rem;
}
.navbar a{
    width: 3rem;
    height: auto;
    margin: 1rem;
    background-color: transparent;
}
.navbar a img{
    width: 1.5rem;
    height: auto;
    background-color: transparent;
}

#navbar_id{
    background-color: transparent;
}


/* Clicked sandwich menu */
.close_clicked_sandwich_menu{
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0%;
    width: 19vw;
    height: 100vh;
    background-color: transparent;
}
.clicked_sandwich_menu{
    display: none;
    /* display: flex; */
    overflow: hidden;
    position: fixed;
    right: 0%;
    width: 80vw;
    height: 100vh;
    background-color: #D3450D;
    flex-direction: column;
}
.clicked_sandwich_menu nav{
    background-color: transparent;
}
.clicked_sandwich_menu nav ul{
    background-color: transparent;
}
.clicked_sandwich_menu nav ul li{
    background-color: transparent;
}
.clicked_sandwich_menu nav ul li a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 5rem;
}

/* Main Title Div */
.main_title_div{
    width: 100vw;
    height: 100vh;
    background-image: url('../resources/space_invaders_background.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_title_div a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.main_title_div div{
    text-align: center;
}
.main_title_div a img{
    width: 1.5rem;
    height: auto;
}



/* Context & Objective div */
.context_objective_div{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
}
#context_objective_header{
    font-weight: bold;
    font-size: 5rem;
}
.oc_spacer{
    width: 100vw;
    height: 7rem;
}
.co_container{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
}
.co_container p{
    text-align: justify;
    max-width: 30vw;
    max-height: 100vh;
}
.co_container img{
    width: 14rem;
    height: auto;
}


/* How to div */
.how_to_div{
    width: 100vw;
    height: 100vh;
    background-color: red;
}



/* Team div */
.team_div{
    width: 100vw;
    height: 100vh;
    background-color: white;
}